# LAFK added:
exportToken
nowy/szkieletSerwera.sh
szkieletSerwera.sh
prQ.dat
nowyRozdzial
coDalej.sh
sbt

# ulokowane gdzie indziej
codziennikAkademii

# na razie ignorowane
3minuty
ubuntu/3minuty.sh
html5/

# wygenerowane przez IdeaToolbox zatem...
idea

# Created by http://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

